
/* Base Styles *---------------------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Exo', sans-serif;
}

/* Header Styles *---------------------------------*/

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  background-color: #26A9E0;
  color: #ffffff;
}

.header-left {
  float: left;
}

.header-left-item {
  float: left;
  display: inline-block;
}

#logo-header {
  max-height: 65px;
  width: auto;
  padding: 10px;
}

.header-right {
  float: right;
  display: inline-block;
  padding: 18px 10px;
}

#global-search {
  max-width: 90px;
  margin: 0 10px;
}

@media screen and (min-width: 330px) {
  #global-search {
    max-width: 120px;
  }
}

@media screen and (min-width: 768px) {
  #global-search {
    max-width: 180px;
  }
}

/* Main Content Styles *---------------------------------*/

/* Title Intro */

section#title-intro {
  width: 100%;
  margin-top: 70px;
}

img#feature-logo {
  width: 20%;
  margin: 70px 40% 20px 40%;
}

h1#title-statement {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

button#call-to-action {
    width: 40%;
    margin: 20px 30%;
    background-color: #26A9E0;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

button#call-to-action:hover {
    background-color: #2298c9;
}

@media screen and (min-width: 768px) {
  button#call-to-action {
    font-size: 12px;
  }
}

/* Footer Styles *---------------------------------*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 15px 0;
  background-color: #26A9E0;
  color: #ffffff;
  text-align: center;
}
