
/* Base Styles *---------------------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Exo', sans-serif;
}

html, body, .main-content {
  height: 100%;
}

.content-section {
  min-height: 100%;
}

/* Header Styles *---------------------------------*/

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  background-color: #26A9E0;
  color: #ffffff;
  z-index: 1;
}

.header-left {
  float: left;
}

.header-left-item {
  float: left;
  display: inline-block;
}

#logo-header {
  max-height: 65px;
  width: auto;
  padding: 10px;
}

.header-right {
  float: right;
  display: inline-block;
  padding: 18px 10px;
}

#global-search {
  max-width: 90px;
  margin: 0 10px;
}

@media screen and (min-width: 360px) {
  #global-search {
    max-width: 120px;
  }
}

@media screen and (min-width: 768px) {
  #global-search {
    max-width: 180px;
  }
}

/* Main Content Styles *---------------------------------*/

.site-view {
  margin-bottom: 100px;
}

.form-section {
  margin-top: 100px;
  background-color: #ffffff;
}

video#bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Title Intro */

section#title-intro {
  width: 100%;
  margin-top: 70px;
}

img#feature-logo {
  width: 20%;
  margin: 70px 40% 20px 40%;
}

h1#title-statement {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

button#call-to-action {
  width: 40%;
  margin: 20px 30%;
  background-color: #26A9E0;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

button#call-to-action:hover {
  background-color: #2298c9;
}

@media screen and (min-width: 768px) {
  h1#title-statement {

  }

  button#call-to-action {
    width: 30%;
    margin: 20px 35%;
    font-size: 2em;
  }
}

/* Idea Form Styles */

form#user-idea {
  width: 100%;
  margin: 20px 0 60px 0;
  padding: 10px;
  background-color: #26A9E0;
  color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

@media screen and (min-width: 500px) {
  form#user-idea {
    width: 40%;
    margin: 20px 30%;
  }
}

@media screen and (min-width: 1040px) {
  form#user-idea {
    width: 30%;
    margin: 20px 35%;
  }
}

#anonymous-check {
  margin-bottom: 10px;
}

/*#hideName {
  display: none;
}*/

button#submit-idea {
  width: 40%;
  margin: 20px 30%;
  background-color: #091A82;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

button#submit-idea:hover {
  background-color: #051368;
}

/* Idea Box Styles */

.idea-box {
  display: inline-block;
  float: left;
  width: 90%;
  height: auto;
  margin: 2em 5%;
  padding: 10px;
  background-color: #26A9E0;
  color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-align: center;
}

.idea-logo-white {
  width: 15%;
  margin-bottom: 5px;
}

.new-idea {
  font-size: 2.5em;
  font-weight: 600;
}

.creator-name {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

.discussion {
  background-color: #FAAD39;
}

@media screen and (min-width: 500px) {
  .idea-box {
  width: 45%;
  margin: 2.5em 2.5%;
  }
}

@media screen and (min-width: 1040px) {
  .idea-box {
  width: 28%;
  margin: 1em 2.6%;
  }
}

/* Modal Styles *---------------------------------*/

#model-content-box {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: solid 3px #26A9E0;
  background-color: #ffffff;
  color: #26A9E0;
}

#model-content-box button {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#model-content-box button#post-comment {
  background-color: #FAAD39;
  color: #ffffff;
}

.modal-header {
  font-size: 25px;
  font-weight: bold;
}

/* Footer Styles *---------------------------------*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 15px 0;
  background-color: #26A9E0;
  color: #ffffff;
  text-align: center;
  z-index: 1;
}

.main-content {
  position: relative;
  background-color: rgba(41,128,185 ,0.6);
}
